<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Adaos.Shell.Executer.help" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.9.10348" newVersion="2.5.9.10348"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <Adaos.Shell.Executer.help>
   <setting name="MathMultiplication" serializeAs="String">
    <value>Usage: math.multiplication &lt;double | int | integer&gt; [number...]

Example:
    math.multiplication int 1 2 3</value>
   </setting>
   <setting name="MathSum" serializeAs="String">
    <value>Usage: math.sum &lt;double | int | integer&gt; [number...]

Example:
    math.sum double 3.5 4.2</value>
   </setting>
   <setting name="MathRandom" serializeAs="String">
    <value>Usage: math.rand [options...] [number] [number]

Options:
    width [number]                                    default: 0
    mode [chars | double | int | integer]    default: int</value>
   </setting>
   <setting name="MathSqrt" serializeAs="String">
    <value>Usage: math.sqrt [number...]</value>
   </setting>
   <setting name="MathPow" serializeAs="String">
    <value>Usage: math.pow [base] [exponent]

Base: [number]

Exponent: [number]</value>
   </setting>
   <setting name="SystemRedo" serializeAs="String">
    <value>Usage: system.redo [option...]

Options:
    back [number]    default: 1
    limit [number]    default: 1
    times [number]    default: 1</value>
   </setting>
   <setting name="SystemEcho" serializeAs="String">
    <value>Usage: system.echo [args...]

Example:
    system.echo "In here the number      of space count     ." not out     here

Result:
    In here the number      of space count     . not out here</value>
   </setting>
  </Adaos.Shell.Executer.help>
 </userSettings>
</configuration>
